[%WRAPPER Interface/Page.htm
  title = "Error"%]
<table border="0" cellpadding="4" cellspacing="1" width="100%">
  <tr>
    <td width="100%"><font class="normal"><b><a href="[%SCRIPT_URL%]" class="normal">Index</a> /</b></font></td>
  </tr>
</table>
<table border="0" cellpadding="0" cellspacing="1" width="[%style.TABLE_WIDTH%]" class="border">
  <tr>
    <td width="100%">
      <table border="0" cellpadding="[%style.TABLE_PADD%]" cellspacing="[%style.TABLE_SPAC%]" width="100%">
        <tr class="large-header">
          <td width="100%"><font class="large-header">Error!</font></td>
        </tr>
        <tr class="body">
          <td width="100%">
            <font class="body">There was an error:</font>
            <p><font class="error-body">[%error%]</font>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
[%END%]